<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body ">
                    <h3 class="titulo">Agencia de Rentado de Vehiculos</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col lg 6">
            <div class="card">
                <div class="card body">
                    <h5 class="titulo">Agregar Vehiculo</h5>
                    <form >
                        <div class="input group input-group-lg mb-5">
                            <span class="input group text">
                                <label > Descripcion</label>
                            </span>
                            <input type="text" class="form-control" placeholder="descripcion">
                        </div>
                        <div class="input group input-group-lg mb-5">
                            <span class="input group text">
                                <label > Matricula</label>
                            </span>
                            <input type="text" class="form-control" placeholder="Matricula">
                        </div>
                        <div class="input group input-group-lg mb-5">
                            <span class="input group text">
                                <label >Precio</label>
                            </span>
                            <input type="text" class="form-control" placeholder="Precio">
                        </div>
                        <div class="input group input-group-lg mb-5">
                            <span class="input group text">
                                <label >Color</label>
                            </span>
                            <select name="select" class="form-control">
                                <option value="value1" class="form-control" >Seleccione Opcion</option>
                               
                              </select>
                        </div>
                        <div class="input group input-group-lg mb-5">
                            <span class="input group text">
                                <label >Color</label>
                            </span>
                            <select name="select"class="form-control">
                                <option value="value1"  >Seleccione Opcion</option>
                               
                              </select>

                        </div>
                        <div class="input group input-group-lg mb-5">
                            <span class="input group text">
                                <label >Marca</label>
                            </span>
                            <select name="select" class="form-control">
                                <option value="value1" class="form-control" >Seleccione Opcion</option>
                                
                              </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col lg 6">
            <div class="card">
                <div class="card body">
                    <h5 class="titulo">Mostrar Vehiculo</h5>
                    <table class="table">
                        <tr>
                            <th>Descripcion</th>
                            <th>Matricula</th>
                            <th>Precio</th>
                            <th>Tipo Vehiculo</th>
                            <th>Marca</th>
                            <th>color</th>
                            <th></th>
                            <th></th>
                        
                          </tr>
                        <tbody>
                            <tr>
                                <td>Tiene Alrma</td>
                                <td>Matricula</td>
                                <td>200.00</td>
                                <td>Carro</td>
                                <td>Izusu</td>
                                <td>Azul</td>
                                <td>
                                    <button type="button" class="btn btn-warning">Editar</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>

